{erl_opts, [no_debug_info]}.
{deps, [{jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.3"}}}
       ]}.

{escript_incl_apps,
 [e2json]}.
{escript_main_app, e2json}.
{escript_name, e2json}.
{escript_emu_args, "%%! +sbtu +A0\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
             ]}]}.
